
/*Whole tweet container*/
article.tweet {
  border: solid;
  border-radius: 7px;
  border-color: #A0A0A0;
  border-width: 1px;
  margin: .5em 2em;
  height: 12em;
}

article.tweet:hover {
  border: solid grey 2px;
}

article.tweet header {
 background-color:  #E8E8E8;
 height: 30%
 border: solid #E8E8E8;
 border-radius: 7px 7px 0 0;
}

/*Avatar picture*/
article.tweet header img{
  width: 2.5em;
  height: 2.5em;
  border-radius: 7px;
  opacity: 0.75;
  border-width: 1px;
  margin: .25em;
}

article.tweet:hover header img {
 border: solid black 1px;
 opacity: 1;
}

/*Tweeter Handle*/
article.tweet header span {
  float: right;
  color: #A0A0A0;
  margin: 1em ;
  font-size: .9em;
}

article.tweet:hover header span {
  color: black;
}

/*Tweeter handle*/
article.tweet header strong{
  display: inline-block;
  margin-top: .25em;
  vertical-align: top;
  font-size: 1.25em;
  color: #1c283a;
  opacity: 0.75;
}

article.tweet:hover header strong {
 opacity: 1;
}

/*Tweet content*/
article.tweet p {
  height: 35%;
  padding: 0 .4em;
  word-wrap: break-word;
}

/*How many Days Ago and icons*/
article.tweet footer {
  border-top: solid 1px;
  border-color: #A0A0A0;
  padding: .5em 1em;
  height: 20%;
  font-size: .85em;
}

article.tweet footer div.images{
  display: none;
  margin: 0 5px;
  float:right;
}
article.tweet footer div.images button{
  width: 2em;
  height: 1.5em;
}

article.tweet:hover footer div.images{
  display: inline-block;
}

@media (max-width: 550px) {
  #return-to-top {
    display: none;
  }
}

@media (max-width: 450px) {
main {
  width: 100%
  }
}


@media(max-width: 315px){
  article.tweet header span {
    text-align: left;
  }
}